body{
	background-color: #FFD775;
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 0px;
	margin: bottom: 0px;
}


a:link, a:visited {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: underline; 
	color: #FF6600;
}
a:hover {
	text-decoration: none;
}

img {
	border: 0px;
	vertical-align: middle;
}


#page {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: auto;
}

#header {
	position: absolute;
	height: 120px;
	width: 100%;
	background-image: url(./images/banner1.png);
	border-left: 1px solid #505050;
	border-right: 1px solid #505050;
	z-index: 8;
}

#navigationContainer {
	position: absolute;
	top: 120px;
	height: 25px;
	width: 100%;
	background-color: #FCAB03;
	border-bottom: 1px solid #BF8202;
	border-left: 1px solid #BF8202;
	border-right: 1px solid #BF8202;
	z-index: 10;
}

#navigation a:link, #navigation a:visited {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bolder;
	text-decoration: none;
	color: #A67D2A;
	padding: 0px 12px 2px 18px;
	line-height: 20px;
	background-image: url(images/nav1.png);
	background-repeat: no-repeat;
	background-position: left;
}

#navigation a:hover {
	color: #505050;
	background-image: url(images/nav2.png);
	background-repeat: no-repeat;
	background-position: left;
}

#subnavContainer {
	position: absolute;
	top: 145px;
	width: 200px;
	padding: 10px 0px 10px 0px;
	background-color: #FCAB03;
	border-right: 1px solid #BF8202;
	border-left: 1px solid #BF8202;
	border-bottom: 1px solid #BF8202;
	z-index: 9;
}

.subnav a:link, .subnav a:visited {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	line-height: 18px; 
	color: #A67D2A;
	padding: 0px 5px 0px 15px;
	display: block;
	background-image: url(images/subnav.png);
	background-repeat: no-repeat;
	background-position: left;
}

.subnav a:hover {
	color: #505050;
	background-image: url(images/subnav1-2.png);
	background-repeat: no-repeat;
	background-position: left;
}

.subnav2 a:link, .subnav2 a:visited {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
	line-height: 17px; 
	color: #A67D2A;
	padding: 0px 5px 0px 30px;
	display: block;
	background-image: url(images/subnav.png);
	background-repeat: no-repeat;
	background-position: left;
}

.subnav2 a:hover {
	color: #505050;
	background-image: url(images/subnav2-2.png);
	background-repeat: no-repeat;
	background-position: left;
}
.subnav3 a:link, .subnav3 a:visited {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: none;
	line-height: 16px; 
	color: #A67D2A;
	padding: 0px 5px 0px 50px;
	display: block;
	background-image: url(images/subnav.png);
	background-repeat: no-repeat;
	background-position: left;
}

.subnav3 a:hover {
	color: #505050;
	background-image: url(images/subnav3-2.png);
	background-repeat: no-repeat;
	background-position: left;
}

#contentContainer {
	position: absolute;
	top: 145px;
	width: 100%;
	min-height: 250px;
	z-index: 1;
}

#content {
	margin-left: 220px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none; 
	text-align: justify;
	line-height: 20px;
	color: #505050;
}





.content_tab {
	margin-top:10px;
	margin-bottom:10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.content_tab_header {
	background-color: #FCAB03;
	border: 1px solid #BF8202;
	width: 600px;
	height: 25px;
	font-weight: bolder;
	padding: 0px 10px 0px 10px;
}

.content_tab_content1 {
	background-color: #FEDA8D;
	width: 450px;
	border-right: 1px solid #BF8202;
	border-bottom: 1px solid #BF8202;
	border-left: 1px solid #BF8202;
	line-height: 20px;
	padding: 5px 5px 5px 5px;
}
.content_tab_content2 {
	width: 150px;
	background-color: #FEDA8D;
	border-right: 1px solid #BF8202;
	border-bottom: 1px solid #BF8202;
	line-height: 20px;
	vertical-align: top;
	font-weight: bolder;
	padding: 5px 10px 5px 10px;
}
.content_tab_content2 a:link, .content_tab_content2 a:visited, .content_tab_content2 a:hover {
	color: #FF9900;
	text-decoration: none;
}

.content_formailer {
	margin-top:10px;
	margin-bottom:10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}



.formailer_header {
	background-color: #FCAB03;
	border: 1px solid #BF8202;
	width: 600px;
	height: 25px;
	padding: 0px 10px 0px 10px;
}
.formailer_header_input {
	background-color: #FCAB03;
	border: 0px;
	font-weight: bolder;
}
.formailer_txt {
	background-color: #FEDA8D;
	width: 425px;
	border-right: 1px solid #BF8202;
	border-bottom: 1px solid #BF8202;
	border-left: 1px solid #BF8202;
	line-height: 20px;
	padding: 5px 5px 5px 5px;
}
.formailer_txt_textarea {
	background-color: #FFFFFF;
	border: 1px solid #BF8202;
	padding: 2px 2px 2px 2px;
	width: 100%;
}
.formailer_adress {
	width: 175px;
	background-color: #FEDA8D;
	border-right: 1px solid #BF8202;
	border-bottom: 1px solid #BF8202;
	line-height: 25px;
	vertical-align: top;
	font-weight: bolder;
	padding: 5px 10px 5px 10px;
}
.formailer_adress_input, .formailer_adress_input {
	background-color: #FFFFFF;
	border: 1px solid #BF8202;
	padding: 2px 2px 2px 2px;
}

.formailer_options {
	padding: 3px 3px 3px 3px;
	background-color: #FEDA8D;
	border-left: 1px solid #BF8202;
	border-right: 1px solid #BF8202;
	border-bottom: 1px solid #BF8202;
	text-align: center;
}





#footerContainer {
	position: relative;
	bottom: 20px;
	left: 10px;
	z-index: 10;
}

#footer {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;	
}