
body {
	background-color: #FFD775;
	margin: 0px;
}

a:link, a:visited {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: underline; 
	color: #FF6600;
}

a:hover {
	text-decoration: none;
}

h1 {
	text-align: center;
	font-size: 25px;
}

img {
	border: 0px;
	vertical-align: middle;
}

#main {
	width: 90%;
	height: 100%;
	background-color: #FaFaFa;
	left: 5%;
	z-index: 1;
	position: fixed;
	border-left: 1px solid #CECEFF;
	border-right: 1px solid #CECEFF;
}

#header {
	width: 90%;
	height: 120px;
	top: 0px;
	left: 5%;
	background-image: url(./images/banner-admin.png);
	background-repeat: no-repeat;
	background-position: bottom left;
	z-index: 3;
	position: fixed;
	border-right: 1px solid #505050;
	border-bottom: 1px solid #505050;
	border-left: 1px solid #505050;
	
}

#forward {
	background-color: #FFDD90;
	color: #D2691E;
	width: 90%;
	margin: 10% 5% 10% 5%;
	padding: 20px;
	position: fixed;
	z-index: 2;
	text-align: center;
	font-size: 15px;
	font-family: sans-serif;
}

#forward_inc {
	background-color: #FFDD90;
	color: #D2691E;
	width: 50%;
	margin: 10% 5% 10% 5%;
	padding: 20px;
	position: fixed;
	z-index: 2;
	text-align: center;
	font-size: 15px;
	font-family: sans-serif;
}

.error {
	top: 145px;
	left: 5%;
	right: 5%;
	padding: 10px 10px 20px 10px;
	border: 1px;
	font-style: normal;
	font: 15px;
	text-align: center;
	background-color: #F4A460;
	z-index: 2;
	position: absolute;
}

.error_tab {
	width: 90%;
	top: 145px;
	left: 10%;
	background-color: #FFDD90;
	z-index: 2;
	position: absolute;
	border: thin;
	border-style: 
}

.error_tab_header {
	padding: 50px;
	text-align: center;
	font-weight: bold;
	font-family: Arial;
	background-color: #FFDD90;
	border: 1px;
}

.error_tab_content {padding: 50px;
	text-align: center;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 15px;
	border: 1px;
	
	background-color: #FFDE6A;
	
}

#content {
	top: 145px;
	left: 22%;
	right: 5%;
	padding: 10px 10px 20px 10px;
	z-index: 2;
	position: absolute;
}

#content_txt {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	text-align: justify;
}

#navigation {
	top: 120px;
	left: 5%;
	height: 25px;
	width: 90%;
	z-index: 4;
	position: fixed;
	border-top: 1px solid #BF8202;
	border-bottom: 1px solid #BF8202;
	border-left: 1px solid #BF8202;
	border-right: 1px solid #BF8202;
	background-color: #FCAB03;
	text-align: left;
}

.navigation_links a:link, .navigation_links a:visited {
	padding: 6px 10px 6px 20px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bolder;
	text-decoration: none;
	line-height: 25px;
	color: #A67D2A;
	text-decoration: none;
	background-image: url(images/nav1.png);
	background-repeat: no-repeat;
	background-position: left;
}

.navigation_links a:hover {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bolder;
	text-decoration: none;
	line-height: 25px;
	color: #A67D2A;
	background-image: url(images/nav2.png);
	background-repeat: no-repeat;
	background-position: left;
}

#subnavigation {
	vertical-align: top;
	top: 147px;
	left: 5%;
	bottom: 0px;
	padding-top: 10px;
	width: 17%;
	z-index: 4;
	position: fixed;
	border-right: 1px solid #BF8202;
	border-left: 1px solid #BF8202;
	border-bottom: 1px solid #BF8202;
	background-color: #FCAB03;
}


.subnavigation_links a:link, .subnavigation_links a:visited {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	line-height: 18px; 
	color: #A67D2A;
	padding: 0px 5px 0px 15px;
	display: block;
	background-image: url(images/subnav.png);
	background-repeat: no-repeat;
	background-position: left;
}

.subnavigation_links a:hover {
	color: #505050;
	background-image: url(images/subnav1-2.png);
	background-repeat: no-repeat;
	background-position: left;
}


.subnavigation_links2 a:link, .subnavigation_links2 a:visited {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
	line-height: 17px; 
	color: #A67D2A;
	padding: 0px 5px 0px 30px;
	display: block;
	background-image: url(images/subnav2.png);
	background-repeat: no-repeat;
	background-position: left;
}

.subnavigation_links2 a:hover {
	color: #505050;
	background-image: url(images/subnav2-2.png);
	background-repeat: no-repeat;
	background-position: left;
}


.subnavigation_links3 a:link, .subnavigation_links3 a:visited {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: none;
	line-height: 16px; 
	color: #A67D2A;
	padding: 0px 5px 0px 50px;
	display: block;
	background-image: url(images/subnav3.png);
	background-repeat: no-repeat;
	background-position: left;
}

.subnavigation_links3 a:hover {
	color: #505050;
	background-image: url(images/subnav3-2.png);
	background-repeat: no-repeat;
	background-position: left;
}


#footer {
	width: 17%;
	left: 5%;
	bottom: 0px;
	position: fixed;
	z-index: 5;
}

.footer_txt {
	padding: 0px 10px 0px 11px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 15px;
	color: #A67D2A;
	margin-bottom: 5px;
}








.content_tab {
	margin-top:10px;
	margin-bottom:10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.content_tab_header {
	background-color: #FCAB03;
	border: 1px solid #BF8202;
	font-weight: bolder;
	padding: 5px 10px 5px 10px;
}

.content_tab_content1 {
	background-color: #FEDA8D;
	width: 450px;
	border-right: 1px solid #BF8202;
	border-bottom: 1px solid #BF8202;
	border-left: 1px solid #BF8202;
	line-height: 20px;
	padding: 5px 5px 5px 5px;
}
.content_tab_content2 {
	width: 150px;
	background-color: #FEDA8D;
	border-right: 1px solid #BF8202;
	border-bottom: 1px solid #BF8202;
	line-height: 20px;
	vertical-align: top;
	font-weight: bolder;
	padding: 5px 10px 5px 10px;
}
.content_tab_content2 a:link, .content_tab_content2 a:visited, .content_tab_content2 a:hover {
	color: #FF9900;
	text-decoration: none;
}

.content_formailer {
	margin-top:10px;
	margin-bottom:10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}



.formailer_header {
	background-color: #FCAB03;
	border: 1px solid #BF8202;
	width: 600px;
	height: 25px;
	padding: 0px 10px 0px 10px;
}
.formailer_header_input {
	background-color: #FCAB03;
	border: 0px;
	font-weight: bolder;
}
.formailer_txt {
	background-color: #FEDA8D;
	width: 425px;
	border-right: 1px solid #BF8202;
	border-bottom: 1px solid #BF8202;
	border-left: 1px solid #BF8202;
	line-height: 20px;
	padding: 5px 5px 5px 5px;
	color: #ED4B23;
}
.formailer_txt_textarea {
	background-color: #FFFFFF;
	border: 1px solid #BF8202;
	padding: 2px 2px 2px 2px;
	width: 100%;
}
.formailer_adress {
	width: 175px;
	background-color: #FEDA8D;
	border-right: 1px solid #BF8202;
	border-bottom: 1px solid #BF8202;
	line-height: 25px;
	vertical-align: top;
	font-weight: bolder;
	padding: 5px 10px 5px 10px;
}
.formailer_adress_input, .formailer_adress_input {
	background-color: #FFFFFF;
	border: 1px solid #BF8202;
	padding: 2px 2px 2px 2px;
}

.formailer_options {
	padding: 3px 3px 3px 3px;
	background-color: #FEDA8D;
	border-left: 1px solid #BF8202;
	border-right: 1px solid #BF8202;
	border-bottom: 1px solid #BF8202;
	text-align: center;
}
